.welcome_img {
    background-image: url('../../assets/home_img.jpg');
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
    background-position: 30% 60%;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    padding: 40px;
    z-index: 0;
    margin: -15px;
}
.welcome_img h1 {
    position: absolute;
    top: 30%;
    font-size: 40px;
    right: 50px;
    color: white;
}